name: PHP Composer

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Xdebug Action
        uses: MilesChou/docker-xdebug@v1.0.0

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run test suite
        run: composer run-script test

      - name: Run codecov
        run: bash <(curl -s https://codecov.io/bash)
